
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<!-- <div class="page-header"> -->
  				<h1 class="page-header">Find a Movie! <small>Please Type A Movie And Submit To Search</small></h1>
		<!-- <h1 class="header">Find a Movie!</h1><br><br> -->
		 <form class="container" accept-charset="UTF-8" action="/result" method="post">
      <label for="movie">Search for:</label>
      <input id="movie" name="movie" type="text" />
      <input name="commit" type="submit" value="Search"button type="button" class="btn btn-primary btn-sm" /> 
      </form>
			</div>
		</div>
	</div>
</div>
</div>
<br><br><br><br>
<div class="row">
	<div class="col-md12 text-center">
<img src="http://www.strandmovies.com/images/poster_movies.jpg" class="circular">
	</div>
</div>