<div class="jumbotron">	
	<div class="movie-results-header">
<title>Movie Results</title>
<h1>Movie Results</h1>
<form class="form-header" accept-charset="UTF-8" action="/result" method="post">
      <label for="movie">Search for:</label>
      <input id="movie" name="movie" type="text" />
      <input name="commit" type="submit" value="Submit"button type="button" class="btn btn-primary btn-sm" />
      </form>
	</div>
</div>



<div class="info">
		<ul>
		<% @result["Search"].map do |search| %> 	
			<%= "<a href=/poster/#{search["imdbID"]}>
			<li>#{search["Title"]} -- #{search["Year"]}</li></a>" %>
		<% end %>
		</ul>
	</div>


