.clip {
	float: right;

}

.circular {
	/*margin-left: 40%;*/
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.form-header {
	float: top;
	display: inline-block;
	margin: auto;

}
.movie-results-header
{
	font-family: Arnoldboecklin, fantasy;
}



.font-size
{
	font-family: Arnoldboecklin, fantasy;
	font-size: 10px;
	margin-right: auto;
	padding-left: 10px;
	color: blue;
}



.page-header
{
	/*background-color: #b6efe2;*/
	padding-top: 10px;
	font-family: Arnoldboecklin, fantasy;
}
.modal-button
{
	margin: center;
	text-align: center;
}
.container
{
	font-size: 20px;
	text-align: center;
	height: 100%;
	padding-top: 50px;
	margin: auto;
	font-family: Arnoldboecklin, fantasy;
}
.header
{
	text-align: center;
	font-size: 50px;
	font-family: Arnoldboecklin, fantasy;
	margin: auto;
	padding-top: 50px;
}
.poster
{
	margin-left: auto;
	text-align: center;
	text-decoration: none;
	background-color: #b6efe2;
}

.float-right
{
	float:top;
	font-family: Arnoldboecklin, fantasy;
	font-size: 20px;
	margin-left: 20%;
}
.info {
	font-size: 20px;
	text-decoration: none;
	font-family: Arnoldboecklin, fantasy;

}
a:link    {color:black;}
a:visited {color:grey;}
a:hover   {color:grey; text-decoration: none}
a:active  {color:salmon;}
